.DS_Store
*/.DS_Store

logs
*.log

pids
*.pid
*.seed
*.pid.lock

build/Release
node_modules/
jspm_packages/

*.tsbuildinfo
*.tgz

.env
.env.test
.env*.local

dist/
.cache/
.vscode-test

tmp/
temp/

.idea
.vscode
